.bx-wrapper .bx-caption{background:red;}
.sliderWrap{
 max-width:960px;
 width:90%;
 margin:2em auto;
 position:relative; 
}
.sliderWrap img{
  width:100%;
}
.bx-next{text-decoration:none; font-size:2em; position:absolute; top:50%; right:0;}
.bx-prev{text-decoration:none; font-size:2em; position:absolute; top:50%; left:0;}


.videoSlider video{
  width:100%;
}


.active h2{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,400%);
  border:5px solid transparent;
  border-image:linear-gradient(to right,yellow 0%, purple 100%);
  border-image-slice:1;
  background:linear-gradient(to left,yellow 0%, purple 100%);
  padding:20px;

}

.active li.active h2{
  animation:moveUp 0.5s forwards;
}
@keyframes moveUp{
  from{
    opacity:0;
    transform:translate(-50%,400%);
  }
  to{
    opacity:0;
    transform:translate(-50%,-50%);
  }

}