img {
  max-width: 100%;
  height: auto;
}
.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery li {
  float: left;
  width: 48%;
  margin: 1%;
}
.gallery li img {
  transition: opacity 0.3s ease-in-out;
}
.gallery li img:hover {
  opacity: 0.75;
}

#lightbox-overlay {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 31, 31, 0.5);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
#lightbox-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
#lightbox-image {
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 90%;
  transform: translate(-50%, -50%);
}
