:root {
  --color1: white;
  --px10: 10px;
  --color3: blue;
  --color4: rgba(0, 0, 0, 0.4);
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li {
  margin: 0 calc(var(--px10) * 2);
  list-style: none;
}
header nav ul li a {
  color: var(--color1);
}
#menu .active a {
  color: var(--color3);
}
#fp-nav ul li a {
  background-color: var(--color1);
}
#fp-nav .on .active span {
  background-color: red;
}
