* {margin: 0;padding: 0; } 

nav {position: absolute;top: 0;z-index: 2;background: rgba(197, 35, 35, 0.4);backdrop-filter: drop-shadow(2px 2px 5px rgba(255, 0, 0)) blur(20px);padding: 20px;width: 100%;box-shadow: 2px 2px 5px rgba(255, 0, 0); } 
nav.sticky {background: rgba(35, 197, 59, 0.4);position: fixed;z-index: 555; } 

nav .gnb {display: flex;width: 100%;max-width: 1400px;margin: auto; } 
nav li {list-style: none;flex: 1 1 200px; } 

nav li a {color: #fff;text-decoration: none;padding: 5px;display: inline-block;width: 50px;height: 100%;position: relative; } 

nav li a:before {content: "";background: black;position: absolute;width: 100%;height: 2px;top: -2px;transform: scaleX(0);transition: all 0.5s;transform-origin: left; } 

nav li a:after {content: "";background: black;position: absolute;width: 100%;height: 2px;bottom: 2px;transform: scaleX(0);transition: all 0.5s 0.3s;transform-origin: right; } 
/* gnb a 활성화 li를클릭하면 예쁜 줄이 잘 생기죠? */
nav li.on a:before,
nav li.on a:after,
nav li a:hover:before,
nav li a:hover:after {transform: scaleX(1); } 

/* container */
.container { max-width:1600px; margin:auto; width:100%; overflow:hidden; } 
/* section */
section { width:100%; max-width:70vw; margin: 40vw auto; padding:10vw 0; background:yellow; } 
.sectionIn { background:red; } 

/* sideNav */
.sideNav{position:fixed; top:10%; right:10%; transition:top 1s; z-index:999; list-style:none;}
.sideNav a{display:inline-block; padding:1em; background-color:rgba(0,0,0,0.5); color:#fff; margin-bottom:1em; text-decoration:none;}
.sideNav li.on a:before{content:"🐥🦄🐽🦥🐤🐣";}